body {
  background-color: #a9a9a9;
  text-align: left;
  font-family: Helvetica, sans-serif;
  margin: 5% 10%
}

.mynameheader {
  text-align: center;
  color: white
 
}

.infoline {
  text-align: center
}

.profstatement {
  margin: 5%;
  text-align: center;
  color: white;
  font-family: Tahoma;
  font-style: italic;
  font-weight: bold
  
}

.profexp {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #fffff0;
  border-bottom: 1px solid #fffff0;
  background-color: rgba(0,0,0, 0.2)
}

.jobslist {
  text-align: left
  
}

img {
  float left;
  border-radius: 60%;
  border: 1px solid #ddd;
  width: 150px;
  padding: 5px
  
  
}
