body {
  background-color: #a9a9a9;
  border-style: double;
  text-align: left;
  font-family: Helvetica, sans-serif;
  margin: 2%;
  padding: 5%

}

.mynameheader {
  text-align: center;
  color: white;
  font-family: Monospace, sans-serif;
  font-weight: bold

}

.infoline {
  text-align: center;
  font-size: 21px;
  font-family: Tahoma, sans-serif;
  
} 

.profstatement {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 2%
    
}

.profexp {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  border-top: 1px solid #fffff0;
  border-bottom: 1px solid #fffff0;
  background-color: rgba(0,0,0, 0.2);

}

.jobslist {
 text-align: left
  
}

img {
  float left;
  border-radius: 60%;
  border: 1px solid #ddd;
  width: 150px;
  padding: 5px
  
  
}
